NEXT_PUBLIC_SITE_URL=https://expo.ldvir.ua
NEXT_PUBLIC_TELEGRAM_BOT_URL=https://t.me/ldvir_tool_day_bot?start=expo_landing
NEXT_PUBLIC_MANAGER_PHONE=+380679979765
NEXT_PUBLIC_META_PIXEL_ID=1362943694602745
NEXT_PUBLIC_GOOGLE_MAPS_URL=
NEXT_PUBLIC_GA_ID=

CRM_API_URL=https://openapi.keycrm.app/v1
CRM_API_TOKEN=
CRM_SOURCE=landing_page_form
CRM_EVENT=ldvir_tools_expo_2026
KEYCRM_PIPELINE_ID=
KEYCRM_SOURCE_ID=
KEYCRM_STATUS_ID=
KEYCRM_MANAGER_ID=
